<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>Decentralised Backend Service</h1>
	<img src= "data:image/png;base64, {{ plot_url }}" style="float: left;">
	<div style="float: left; margin-left: 30px; margin-top: 50px">
		<b><p style="float: left;">Create New Field</p></b>
		<br><br><br>
		<p style="float: left;">http://127.0.0.1:5000/register/channelID</p>
		<br><br><br>
		<b><p style="float: left;">Add Point to a Field</p></b>
		<br><br><br>
		<p style="float: left;">http://127.0.0.1:5000/addPoint/channelID/Data_in_Float</p>
		<br><br><br>
	</div>
	
</body>
</html>